/* General Styles */

html {
  box-sizing: border-box;
  color: #070707;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4rem;
	margin: 0;
}

/* Timer Styles */

.wrapper {
	height: 100vh;
	display: grid;
	justify-items: center;
  align-content: center;
  background-color: #f7f7f7;
}

.clock {
	font-size: 60px;
}

.session-duration {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.session-duration.active {
  display: none;
}

.sessions-left {
  display: none;
}
.session-duration.active ~ .sessions-left {
  display: block;
}

button {
  background: none;
	border: 1px solid #070707;
	border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}
button:focus {
	outline: none;
}

#reset {
  display: none;
}
.session-duration.active ~ #reset {
  display: block;
  margin: 10px;
}

#message {
  margin: 0;
}